<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercise Tracker</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h2 class="header-text">Exercise Tracker</h2>
    <div class="user-form">
        <h3 class="header-text">Save User</h3>
        <form action="/api/users" method="post">
            <input type="text" name="username" id="username" placeholder="username">
            <button type="submit">Send</button>
        </form>

    </div>
    <div class="exercise-form">
        <h3 class="header-text">Save a new exercise</h3>
        <form id="ex-form" action="/api/users/1/exercises" method="post">
            <input type="text" name="id" id="id" placeholder="_id" required>
            <input type="text" name="description" id="description" placeholder="description" required>
            <input type="number" name="duration" id="duration" placeholder="duration" required>
            <input type="date" name="date" id="date" placeholder="date" required>
            <button type="submit">Save exercise</button>
        </form>
    </div>
    <div class="log-info">
        <h3 class="header-text">Log info</h3>
        <p class="header-text">Do you want to see your log info?</p>
        <form action="" id="log-form" method="get">
           <input type="text" name="_id"  placeholder="_id" id="_id" required/>
           <input type="date" name="from" id="from"/>
           <input type="date" name="to" placeholder="to" id="to"/>
           <input type="number" name="limit" id="limit" placeholder="limit"/>
           <button type="submit">Send</button>
        </form>
        
    </div>
    <script>
           let inputId = document.querySelector("#_id");
           let inputForm = document.querySelector("#log-form");
           inputForm.addEventListener("submit", () => {
            inputForm.action = `/api/users/${inputId.value}/logs`;

           }) 
        /*   inputId.addEventListener("change", (event) => {
               inputForm.action = `/api/users/${event.target.value}/logs`;
               
           });*/
           
    </script>
</body>
</html>