<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercise Tracker</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h2 class="header-text">Exercise Tracker</h2>
    <div class="user-form">
        <h3 class="header-text">Save User</h3>
        <form action="/api/users" method="post">
            <input type="text" name="username" id="username" placeholder="username">
            <button type="submit">Send</button>
        </form>

    </div>
    <div class="exercise-form">
        <h3 class="header-text">Save a new exercise</h3>
        <form id="ex-form" action="/api/users/1/exercises" method="post">
            <input type="text" name="id" id="id" placeholder="_id" required>
            <input type="text" name="description" id="description" placeholder="description" required>
            <input type="number" name="duration" id="duration" placeholder="duration" required>
            <input type="date" name="date" id="date" placeholder="date" required>
            <button type="submit">Save exercise</button>
        </form>
    </div>
    <div class="log-info">
        <h3 class="header-text">Log info</h3>
        <p>Do you want to see your log info? <a href="/api/users/logs">Check it out</a></p>
        
    </div>
</body>
</html>